Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:
The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below
i 1 2 3 4 5 6 7 8 9 10
===== == == == == == == == == == ==
Input 10 20 30 40 50 60 70 80 90 100
y1 25 = (10+20+30+40)/4
y2 35 = (20+30+40+50)/4
y3 45 = (30+40+50+60)/4
y4 55 = (40+50+60+70)/4
y5 65 = (50+60+70+80)/4
y6 75 = (60+70+80+90)/4
y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

In [5]:
def moving_avg(mylist,N):
    cumsum, moving_aves = [0], []
    for i, x in enumerate(mylist, 1):
        cumsum.append(cumsum[i-1] + x)
        if i>=N:
            moving_ave = (cumsum[i] - cumsum[i-N])/N
            moving_aves.append(moving_ave)
    return moving_aves

In [6]:
t = [10, 20, 30, 40, 50, 60, 70,80,90,100]
N = 4
moving_avg(t,N)

[25.0, 35.0, 45.0, 55.0, 65.0, 75.0, 85.0]

Write a function to find moving average in an array over a window:
Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [4]:
t= [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
N = 3
moving_avg(t,N)

[5.0,
 4.666666666666667,
 5.666666666666667,
 6.666666666666667,
 9.666666666666666,
 28.666666666666668,
 49.333333333333336,
 72.66666666666667,
 84.0,
 93.33333333333333,
 116.33333333333333]

1.How-to-count-distance-to-the-previous-zero For each value, count the difference back to the previous zero (or the start of the Series,whichever is closer)create a new column 'Y'Consider a DataFrame df where there is an integer column 'X'
import pandas as pd df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [4]:
import pandas as pd
s = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
x = (s['X'] != 0).cumsum()
y = x != x.shift()
y.groupby((y != y.shift()).cumsum()).cumsum()

0    1.0
1    2.0
2    0.0
3    1.0
4    2.0
5    3.0
6    4.0
7    0.0
8    1.0
9    2.0
Name: X, dtype: float64

2.Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [5]:
import numpy as np
from datetime import date
import calendar
d = pd.bdate_range('2015-01-01', '2015-12-31')
DatetimeIndex = pd.Series(np.random.randn(len(d)), index=d)
DatetimeIndex.head()

2015-01-01   -1.068285
2015-01-02    0.437258
2015-01-05   -0.563667
2015-01-06   -0.711513
2015-01-07    0.868713
Freq: B, dtype: float64

3.Find the sum of the values in s for every Wednesday

In [6]:
s=0
for my_date in d:
    if(calendar.day_name[my_date.weekday()]=='Wednesday'):
        s=s+DatetimeIndex[my_date]
s

4.228197903384151

4.Find the sum of the values in s for every Wednesday

In [7]:
DatetimeIndex.groupby(pd.Grouper(freq='M')).mean()

2015-01-31   -0.232659
2015-02-28   -0.122958
2015-03-31    0.166783
2015-04-30    0.305717
2015-05-31    0.307427
2015-06-30    0.236606
2015-07-31    0.258984
2015-08-31    0.048424
2015-09-30   -0.062994
2015-10-31   -0.281673
2015-11-30   -0.234143
2015-12-31    0.169390
Freq: M, dtype: float64

5.For each group of four consecutive calendar months in s, find the date on which the highest
value occurred.

In [8]:
print(DatetimeIndex['2015-01-01':'2015-04-30'].idxmax())
print(DatetimeIndex['2015-05-01':'2015-08-31'].idxmax())
print(DatetimeIndex['2015-09-01':'2015-12-31'].idxmax())

2015-01-21 00:00:00
2015-08-25 00:00:00
2015-12-11 00:00:00